.h1{
    color: rgb(10, 65, 65);
    font-style: initial;
    text-align: center;
}
p{
    text-align: center;
    font-size: large;
}
.routing{
    font-size: large;
    text-align: center;
    text-decoration: none;
}
a{
    font-weight: bolder;
    text-decoration: none;
    color: rgb(13, 192, 246);
    transition: background-color .5s;
}
a:hover {
    color: rgb(245, 30, 11);
  }